.buttons {
    position: fixed;
    bottom: 7vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.button {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
    padding: 1vw;
}

/* .heart {
    height: 50px;
    width: 50px;
    object-fit: contain;
    display: inline;
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
} */

/* .heartIcon {
    margin: 0px;
    position: relative;
    left: 50px;
} */