.h1 {
    font-family: 'Lucida', monospace;
    font-size: 100px;
    margin: 0;
    padding: 10%; 
    text-align: left;
  }

  .bubbleContainer {
    padding-top: 10vh;
  }



.centerText {
  font-family: 'Lucida', monospace;
  padding-top: 20vh;
  padding-bottom: 3vh;
}


