.h1 {
    font-family: 'Lucida', monospace;
    font-size: 100px;
    margin: 0;
    padding: 10%; 
    text-align: left;
  }

  .bubbleContainer {
    padding-top: 10vh;
  }

.centerText {
  font-family: 'Lucida', monospace;
  padding-top: 20vh;
  padding-bottom: 3vh;
}

.main{
  position: relative;
  z-index: 100;
}

.background{
    background-image: url("../img/clothes_backdrop.png");
    background-size:cover;
    height: 90vh;
}
