.mega_container {
    display: flex;
}
.big_container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    position: relative;
    width: 50%;
    height: auto;
}


.model_container {
    display: grid;
    grid-template-rows: 80px 20px 80px 80px 80px;
    grid-template-columns: 80px 20px 80px;
    justify-content: center;
}

/* Style each body part */
.head {
    grid-row: 1/2;
    grid-column: 1/4;

}

.head_img {
    height: 200px;
    object-fit: contain;

}

.right_arm {
    grid-row: 3/4;
    grid-column: 3/4;
    transform: rotate(25deg);
    position: relative;
    left: 0.5vw;

}

.right_arm_img {
    height: 120px;
    object-fit: contain;

}

.left_arm {
    grid-row: 3/4;
    grid-column: 1/2;
    transform: scaleX(-1) rotate(25deg);
    position: relative;

}

.left_arm_img {
    height: 120px;
    object-fit: contain;

}

.left_leg {
    grid-row: 4/5;
    grid-column: 3/4;
    padding-right: 4vw;
    position: relative;

}

.left_leg_img {
    height: 420px;
    object-fit: contain;

}

.right_leg {
    grid-row: 4/5;
    grid-column: 1/2;
    padding-left: 10px;
    position: relative;

}

.right_leg_img {
    height: 420px;
    object-fit: contain;

}

.slider {
    padding: 1.5vw;
    margin-left: 4.6vw;
    width: 80%;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    overflow: scroll;
    height:300px;
}

.slider_bar {
    color: grey;
    width: 100%;
}

.shirt1 {
    margin-top: 180px;
    grid-column: 1/1;
    grid-row: 1/1;
    position: relative;
    top: 0px;
    display: block;
    margin-left: -219px;

}

.shirt1 img {
    position: absolute;
    z-index: 1000;
    transform: scale(1.2);
}

.shirt2 {
    margin-top: 180px;
    grid-column: 1/1;
    grid-row: 1/1;
    position: relative;
    bottom: 138px;
    display: block;
    margin-left: -342px;

}

.shirt2 img {
    position: absolute;
    z-index: 1000;
    transform: scale(1.2);
}

.shirt3 {
    margin-top: 180px;
    grid-column: 1/1;
    grid-row: 1/1;
    position: relative;
    bottom: 118px;
    display: block;
    margin-left: -338px;

}

.shirt3 img {
    position: absolute;
    z-index: 1000;
    transform: scale(1.2);
}

.shirt4 {
    margin-top: 180px;
    grid-column: 1/1;
    grid-row: 1/1;
    position: relative;
    bottom: 120px;
    display: block;
    margin-left: -330px;

}

.shirt4 img {
    position: absolute;
    z-index: 1000;
    transform: scale(1.2);
}
